<ion-header>
  <ion-toolbar color="primary">
    <!-- <app-menu-toggle slot="start" menu="main-menu"></app-menu-toggle> -->
    <ion-buttons slot="start">
      <ion-back-button  defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>Maquiadora</ion-title>
  </ion-toolbar>
</ion-header>

<!--
  <ion-content padding>
    
    <ion-grid *ngIf="(artist$ | async) as artist">
      <ion-row justify-content-center align-items-center>
        <ion-col text-center>
          <h1>{{ artist.name }}</h1>
          <ion-icon name="star" class="icon_yellow"></ion-icon>
          <ion-icon name="star" class="icon_yellow"></ion-icon>
          <ion-icon name="star" class="icon_yellow"></ion-icon>
          <ion-icon name="star" class="icon_yellow"></ion-icon>
          <ion-icon name="star" class="icon_gray"> </ion-icon>
        </ion-col>
        <ion-col>
          <ion-img class="img" [src]="artist.image"></ion-img>
        </ion-col>
      </ion-row>
      
      <ion-row justify-content-center align-items-center>
        <ion-col text-center class="specialties">
          <h1>{{ artist.specialties }}</h1>
        </ion-col>
      </ion-row>

      <ion-row justify-content-center align-items-center>
        <ion-col text-center class="featured-work">
          <ion-slides [options]="sliderOpts">
            <ion-slide *ngFor="let img of images">
              <img [src]="img" tappable (click)="openPreview(img)">
            </ion-slide>
          </ion-slides>
        </ion-col>
      </ion-row>
  
      <ion-row justify-content-center align-items-center>
        <ion-col text-center class="comments">
          <h1>Comentários</h1>
        </ion-col>
      </ion-row>
  
    </ion-grid>
  
  </ion-content>
-->

<ion-content *ngIf="(artist$ | async) as artist">

  <ion-row padding>
    <!-- Avatar -->
    <ion-col size="5" justify-content-center align-items-center>
      <div class="circle" justify-content-center align-items-center>
        <img [src]="artist.image"  alt="">
      </div>
    </ion-col>

    <ion-col size="7">
      <!-- Profile info -->
      <div padding>
        <p><b>{{ artist.name }}</b></p>
        <p class="info"><b>Telefone: </b> <a [href]="telefone">{{ artist.phone }}</a></p>
        <p class="info">  
          <a [href]="linkWhatsapp">Enviar mensagem via Whatsapp</a>
        </p>
      </div>
    </ion-col>
  </ion-row>


  <ion-row style="margin-left: 20px; margin-right: 20px;" *ngIf="artist.description">
    <ion-col size="12">
      <p class="info">{{ artist.description }}</p>
    </ion-col>
  </ion-row>

  <!--
    <ion-row style="margin-left: 20px; margin-right: 20px;">
      <ion-col size="12">
        <p class="info"><b>Especialidades: </b></p>
        <div *ngFor="let spc of artist.specialties">
          {{ spc }}
        </div>
      </ion-col>
    </ion-row>
  -->

  <!-- Information about user 
      <ion-col size="3" text-center >
        <h6>21</h6>
        <p no-padding no-margin>posts</p>
      </ion-col>
      <ion-col size="3" text-center>
        <h6>114</h6>
        <p no-paddin no-margin>followers</p>
      </ion-col>
      <ion-col size="3" text-center>
        <h6>119</h6>
        <p no-paddin no-margin>following</p>
      </ion-col>
    -->

  <!-- Edit/follow button 
  <ion-row no-padding no-margin>
    <ion-col no-padding no-margin size="4"></ion-col>
    <ion-col no-padding no-margin text-center size="8">
      <button class="edit-button">Editar Perfil</button>
    </ion-col>
    <ion-col size="3"></ion-col>
  </ion-row>
  -->

  <ion-grid>
    <ion-row>
      <ion-col size="4" class="grid_img" *ngFor="let i of images">
        <img [src]="i" alt="" tappable (click)="openPreview(i)">
      </ion-col>
    </ion-row>
  </ion-grid>




  <!-- Segments 
  <div>
    <ion-segment [(ngModel)]="profile_segment">
      <ion-segment-button value="list">
        <ion-icon name="list"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="tagged">
        <ion-icon name="photos"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </div>

  
  <div [ngSwitch]="profile_segment">
    <ion-list *ngSwitchCase="'list'">
      <ion-grid>
        <ion-row>
          <ion-col size="4" class="grid_img" *ngFor="let i of images">
            <img [src]="i" alt="" tappable (click)="openPreview(i)">
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>

    <ion-list *ngSwitchCase="'tagged'">

      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <p padding margin class="info"><b>Especialidades:</b></p>
          </ion-col>
          <ion-col>
            <ion-item *ngFor="let esp of artist.specialties">
              <ion-label padding margin class="info">{{ esp }}</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-list>
  </div>
-->

</ion-content>

<!--
  <ion-footer>
    <ion-toolbar>
      <ion-button expand="block"  (click)="schedule()">Agendar horário</ion-button>
    </ion-toolbar>
  </ion-footer> -->