.img {
  height: 170px;
}

.icon_yellow {
  color: yellow !important;
  font-size: 20px;
}

.icon_gray {
  font-size: 20px;
}

.featured-work {
  margin-top: 30px;
  margin-bottom: 30px;
}

.specialties {
  margin-top: 30px;
  margin-bottom: 30px;
}

.comments {
  margin-top: 30px;
  margin-bottom: 30px;
}

ion-slides {
  margin-top: 30%;
  background: #e6e6e6;

  img {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

/* Profile avatar */
.avatar {
  overflow: hidden;
  border-radius: 20%;
  margin: auto;
  //height: 150px;
  //width: 150px;
  // position: absolute;
}

/* Small for notifications */
.badge-container {
  position: relative;
}

.custom-badge {
  position: absolute;
  top: 5px;
  left: 15px;
  background: red;
  border-radius: 100%;
  color: #fff;
  font-size: 12px !important;
  padding: 4px;
  font-weight: bold;
}

.info {
  padding-top: 4px;
  overflow: hidden;
}

/* Profile edit button */
.edit-button {
  background: #fff;
  border: 1px solid #ccc;
  font-size: 13px;
  border-radius: 3px;
  padding: 5px;
  font-weight: bold;
  width: 90%;
  margin-right: 30px;
}

.edit-button:active {
  border-color: #dce2ed;
}
