.makeup-card {
    max-height: 150px;
    height: 150px;
    overflow: hidden !important;
    //box-shadow: none;
  }

  .img {
    max-height: 140px;
    //height: 150px;
    border-radius: 30px;
    margin: auto;
  }

  .col_img {
    height: 130px;
    margin: auto;
  }
  
  ion-card{
    background-color: white !important;
  }
  
  ion-header{
    --ion-background-color:#fff0fa;
  }
  
  ion-content{
    --ion-background-color:#fff0fa;
  }
  
  ion-row {
    --ion-background-color:#fff0fa;
  }
  
  .left_icon{
    margin-right: 5px;
  }
  
  .title{
    color: #3db0f7;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 30px;
    font-weight: bold;
  }
  
  .filter{
    color: #3db0f7;
    font-style: oblique;
    margin: auto;
   
  }
  
  .margin {
    margin: auto;
  }
  
  .done {
    margin-left: 5px;
  }
  
  .name {
    font-size: 20px;
  }
  
  
  
  .icon_yellow{
    color:yellow !important;
    font-size: 20px;
  }
  
  .icon_gray{
    font-size: 20px;
  }
  
  
  
  
  