<ion-card  class="makeup-card" (click)="open_perfil.emit(makeup)">
  <ion-grid>
    <ion-row justify-content-center align-items-center>
      <ion-col class="col_img" size="5" no-padding>
        <ion-img class="img" [src]=makeup.image></ion-img>
      </ion-col>
      <ion-col style="overflow: hidden !important">
        <ion-icon *ngFor="let star of ratingArray" name="star" class="icon_yellow"></ion-icon>
        <ion-icon *ngFor="let star of grayStarsArray" name="star" class="icon_gray"> </ion-icon>
        <ion-text class="done">+ {{ makeup.worksdone }}</ion-text>
        <p class="name">{{makeup.name}}</p>
        <p>Especialidades: {{makeup.specialties}}</p>
      </ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-button (click)="to_schedule.emit(makeup); $event.stopPropagation()">
        Agendar
      </ion-button>
      <ion-button (click)="delete_make.emit(makeup); $event.stopPropagation()">
        Deletar
      </ion-button>
    </ion-row> -->
    </ion-grid> 
</ion-card>

