
<ion-card class="makeup-card" (click)="open_perfil.emit(artist)" *ngIf="artist.isActive == true">
  <ion-grid>
    <ion-row >
      <ion-col class="col_img" size="4" no-padding>
        <ion-img class="img" [src]=artist.image></ion-img>
      </ion-col>
      <ion-col style="overflow: hidden !important">

        <ion-row>
          <ion-col size="10">
            <p class="name"><b>{{artist.name}}</b></p>
          </ion-col>
          <ion-col style="color: #e5e619;">
            <ion-icon src="/assets/star.svg" style="font-size: 25px; color: yellow;"></ion-icon>
            +99
          </ion-col>
        </ion-row>

          

        <ion-row>
          <ion-col size="6" *ngFor="let esp of artist.specialties">
            <ion-icon name="checkmark"></ion-icon>
          {{ esp }}
          </ion-col>
        </ion-row>

      </ion-col>
    </ion-row>
      
    </ion-grid> 
</ion-card>

