<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/makeup"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ pageTitle }}</ion-title>
    <app-logout-button slot="end" menu="main-menu"></app-logout-button>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="makeupForm" (submit)="onSubmit()">
      <ion-item>
          <ion-icon name="paper" slot="start" color="primary"></ion-icon>
          <ion-input type="text" placeholder="Nome" autofocus="true" inputmode="text" formControlName="name"></ion-input>
        </ion-item>
      
        <ion-item>
          <ion-icon name="images" slot="start" color="primary"></ion-icon>
          <ion-input type="text" placeholder="Imagens" autofocus="true" inputmode="text" formControlName="image"></ion-input>
        </ion-item>
      
        <ion-item>
          <ion-icon name="paper" slot="start" color="primary"></ion-icon>
          <ion-input type="text" placeholder="Especialidades" autofocus="true" inputmode="text" formControlName="specialties"></ion-input>
        </ion-item>
      
        <ion-item>
          <ion-icon name="checkmark" slot="start" color="primary"></ion-icon>
          <ion-input type="text" placeholder="Trabalhos feitos" autofocus="true" inputmode="numeric" formControlName="worksdone"></ion-input>
        </ion-item>
      
        <ion-item>
          <ion-icon name="star" slot="start" color="primary"></ion-icon>
          <ion-input type="text" placeholder="Avaliações" autofocus="true" inputmode="numeric" formControlName="rating"></ion-input>
        </ion-item>
      
        <ion-button expand="full" type="submit" [disabled]="makeupForm.invalid">
          Save
        </ion-button>
  </form>
</ion-content>