<ion-header>
  <ion-toolbar color="primary">
    <!-- <app-menu-toggle slot="start" menu="main-menu"></app-menu-toggle> -->
    <ion-buttons slot="start">
      <ion-back-button  defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>Maquiadora</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="(artist$ | async) as artist">

  <ion-row padding>
    <!-- Avatar -->
    <ion-col size="5" class="col_avatar" justify-content-center align-items-center>
      <div class="circle" justify-content-center align-items-center>
        <img [src]="artist.image"  alt="">
      </div>
      <p></p>
      <ion-icon name="star" style="color: yellow;"></ion-icon>
      <ion-icon name="star" style="color: yellow;"></ion-icon>
      <ion-icon name="star" style="color: yellow;"></ion-icon>
      <ion-icon name="star" style="color: yellow;"></ion-icon>
      <ion-icon name="star" style="color: yellow;"></ion-icon>
      +99
    </ion-col>

    

    <ion-col size="7">
      <!-- Profile info -->
      <div padding>
        <p style="font-family: Times, Times New Roman, serif; font-size: 20px;"><b>{{ artist.name }}</b></p>
        <p class="info"><b>Telefone: </b> <a [href]="telefone">{{ artist.phone }}</a></p>
        <p class="info">  
          <a [href]="linkWhatsapp">Enviar mensagem via Whatsapp</a>
        </p>
      </div>
    </ion-col>
  </ion-row>


  <ion-row style="margin-left: 20px; margin-right: 20px;" *ngIf="artist.description">
    <ion-col size="12">
      <p class="info">{{ artist.description }}</p>
    </ion-col>
  </ion-row>

  <ion-row style="margin-left: 20px; margin-right: 20px;" *ngIf="artist.specialties">
    <ion-col *ngFor="let esp of artist.specialties" size="4" class="info">
      <ion-icon name="checkmark" ></ion-icon>
          {{ esp }}
    </ion-col>
  </ion-row>

  <!--
    <ion-row style="margin-left: 20px; margin-right: 20px;">
      <ion-col size="12">
        <p class="info"><b>Especialidades: </b></p>
        <div *ngFor="let spc of artist.specialties">
          {{ spc }}
        </div>
      </ion-col>
    </ion-row>
  -->



  <ion-grid>
    <ion-row no-padding>
      <ion-col size="6" class="grid_img" *ngFor="let i of images" no-padding>
        <img [src]="i" alt="" tappable (click)="openPreview(i)" no-padding>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!--
  <ion-row no-padding no-margin>
    <ion-col no-padding no-margin size="4"></ion-col>
    <ion-col no-padding no-margin text-center size="8">
      <button class="edit-button">Editar Perfil</button>
    </ion-col>
    <ion-col size="3"></ion-col>
  </ion-row>
  -->

</ion-content>