<ion-header>
  <ion-toolbar color="primary">
    <app-menu-toggle slot="start" menu="main-menu"></app-menu-toggle>
    <ion-title>Maquiadora</ion-title>
    <app-logout-button slot="end" menu="main-menu"></app-logout-button>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="(artist$ | async) as artist">

  <ion-row padding>
    <!-- Avatar -->
    <ion-col size="3" justify-content-center align-items-center>
      <img [src]="artist.image" class="avatar" alt="">
    </ion-col>

    <ion-col size="9">
      <!-- Profile info -->
      <div padding>
        <p><b>{{ artist.name }}</b></p>
        <p class="info"><b>Telefone/WhatsApp: </b>{{ artist.phone }}</p>
      </div>
    </ion-col>

  </ion-row>

  <ion-row style="margin-left: 20px; margin-right: 20px;" *ngIf="artist.description">
    <ion-col size="12">
      <p class="info">{{ artist.description }}</p>
    </ion-col>
  </ion-row>

  <!--
    <ion-row style="margin-left: 20px; margin-right: 20px;">
      <ion-col size="12">
        <p class="info"><b>Especialidades: </b></p>
        <div *ngFor="let spc of artist.specialties">
          {{ spc }}
        </div>
      </ion-col>
    </ion-row>
  -->



  <ion-grid>
    <ion-row>
      <ion-col size="4" class="grid_img" *ngFor="let i of images">
        <img [src]="i" alt="" tappable (click)="openPreview(i)">
      </ion-col>
    </ion-row>
  </ion-grid>

  <!--
  <ion-row no-padding no-margin>
    <ion-col no-padding no-margin size="4"></ion-col>
    <ion-col no-padding no-margin text-center size="8">
      <button class="edit-button">Editar Perfil</button>
    </ion-col>
    <ion-col size="3"></ion-col>
  </ion-row>
  -->

</ion-content>