<ion-header>
    <ion-toolbar color="primary">
      <app-menu-toggle slot="start" menu="main-menu"></app-menu-toggle>
      <ion-title>Usuário</ion-title>
      <app-logout-button slot="end" menu="main-menu"></app-logout-button>
    </ion-toolbar>
  </ion-header>

  <ion-content padding>
  
      <ion-grid>
        <ion-row justify-content-center align-items-center>
          <ion-col text-center>
            <h1>{{ user.displayName }}</h1>
          </ion-col>
        </ion-row>

        <ion-row justify-content-center align-items-center>
          <ion-img class="img" [src]="userData.image"></ion-img>
        </ion-row>
    
        <ion-row justify-content-center align-items-center>
          <ion-col text-center>
            <h1>Maquiadoras Favoritas</h1>
          </ion-col>
        </ion-row>
    
        <ion-row justify-content-center align-items-center>
          <ion-col text-center>
            <h1>Contatos</h1>
          </ion-col>
        </ion-row>
    
        <ion-row justify-content-center align-items-center>
          <ion-col text-center>
            <h1>Galeria</h1>
          </ion-col>
        </ion-row>
    
      </ion-grid>
    
    </ion-content>
